<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4V4bPZhfi-ZajXMOT5G2qZMoPJMm8kPc</string>
	<key>GCM_SENDER_ID</key>
	<string>796626637593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jarnamaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jarnama-app-89238</string>
	<key>STORAGE_BUCKET</key>
	<string>jarnama-app-89238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796626637593:ios:00d31f80ab153d5c51eb88</string>
</dict>
</plist>